<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <%- include("./stylesheets.ejs") %>

    <title>Add Movie</title>
  </head>
  <body>

    <%- include("./navbar.ejs") %>
