<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>register</h1>
    <form class="" action="/api/user/register" method="post" autocomplete="off">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" autocomplete="off" required>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" autocomplete="off" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="off"required>
      </div>
      <button type="submit" name="button">Register</button>
    </form>

    <a href="/login">login page</a>

  </body>
</html>
